screenshots
shaderpacks
texturepacks
Illegal_Clients
tv-cache
asm
ForgeEssentials
journeymap
saves
logs
options.txt
servers.dat
usernamecache.json
usercache.json
crafttweaker.log
optionsof.txt
crash-reports
.mixin.out
BotaniaVars.dat

